<!doctype html>
<head>
	<meta charset='utf-8'> 
	<title>d3</title>
	<link rel="stylesheet" href="CargografiasTimeline.css"/>
	<script src="jslib/d3.v3.js" ></script>
	<script src="jslib/underscore-min.js" ></script>
</head>
<body>

	<div class="allContainer">
		<div>
			<label>Agrupar:</label> 
			<input type="radio" id="radAgrupar-persona" name="radAgrupar" value="persona" checked="checked"/>
			<label for="radAgrupar-persona">por persona</label> 
			<input type="radio" id="radAgrupar-cargo" name="radAgrupar" value="cargo" />
			<label for="radAgrupar-cargo">por cargo</label> 
		</div>
		<div id="filtroContainer">
			<label for="filtro">Nombre:</label><input type="text" id="filtro"><span>(varios separados por coma. ej: cris, kunk)</span>
		</div>
		<div id="svgContainer"></div>
	</div>

	<script id="tooltipTemplate" type="text/template">
		<b><%- persona.nombre + ' ' + persona.apellido %></b><br>
		<%- nominal.tipo %><br> 
		<span class="detalles">
			<%- fechainicioyear %> - <%- fechafinyear %><br>
			<%- territorio %>
		</span>
	</script>

	<script id="svgTemplate" type="text/template">
		<svg>
			<g id="ejeCargos0"></g>
			<g id="ejeCargos1"></g>
			<g id="ejePersonas"></g>
			<g id="cargos"></g>
			<g id="curvas"></g>
		</svg>
		<div id="tooltip"></div>
	</script>

	<!-- script src="http://cargografias.org/cargosdataendpoint3.php"></script -->
	<script src="data.js"></script>
	<script src="jsapp/CargografiasTimeline.js"></script>

	<script>

	(function(){

		var idPersonas = ["239", "446", "811", "930"];
		var filtroInput = document.getElementById('filtro');

		var cargoTimeline = new CargografiasTimeline({
			containerEl : document.getElementById('svgContainer'), 
			mostrarPor : 'cargo',
			baseTemplate: document.getElementById('svgTemplate').innerHTML,
			filtro:{ idPersonas: idPersonas }
		});

		document.getElementById('radAgrupar-persona').onclick = function(){
			setTimeout(function(){
		        cargoTimeline.update({
		        	mostrarPor: "nombre",
		        	filtro: { 
		        		nombres: filtroInput.value, 
		        		idPersonas: idPersonas
					}
		        });
			},1);
		};

		document.getElementById('radAgrupar-cargo').onclick = function(){
			setTimeout(function(){
		        cargoTimeline.update({
		        	mostrarPor: "cargo",
		        	filtro: { 
		        		nombres: filtroInput.value, 
		        		idPersonas: idPersonas
					}
		        });
			},1);
		};

		filtroInput.onkeyup = _.debounce(function() {
			cargoTimeline.update({
	        	filtro: { 
	        		nombres: filtroInput.value, 
		        	idPersonas: idPersonas
				}
	        });
	    }, 400);

	})();

	</script>

</body>
</html>